body {
  background-image: url("assets/bg_img.jpg");
  background-position: center;
  background-size: cover;
  margin-left: 50px;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
}

.chat {
  background-color: #5af192;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: 0.3s ease;
}

.chat:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

.msg {
  background-color: rgb(236, 229, 221);
  color: black;
  margin: 5px 8px;
  padding: 15px 15px;
  border-radius: 16px;
}

.btn {
  background-color: whitesmoke;
  color: black;
  margin-right: 7px;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  box-shadow: 2px 2px 5px black;
}
.btn:hover {
  box-shadow: 2px 4px 8px black;
}

.buttons {
  display: flex;
}

.card-header {
  text-align: left;
}

.card-footer {
  text-align: left;
}

.card-text {
  width: 220px;
  margin-bottom: 25px;
}

.time {
  display: flex;
}
